section {
    margin-top: 50px;
}

/* Clinic Start */

.clinic .clinic-wrapper {
    margin: auto;
    align-items: center;
    text-align: center;
}

.clinic-wrapper .title {
    font-size: 1.25rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--main-color);
}

.clinic-wrapper .heading {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--second-color);
}

.clinic-wrapper .row {
    background-color: var(--body-color);
    display: flex;
    margin: auto;
}

.clinic-wrapper .box-clinic {
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 20px 10px;
    margin: auto;
    max-width: 360px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.box-clinic i {
    border-radius: 50%;
    padding: 15px;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.box-clinic .bx-pulse {
    color: #27AE60;
    background-color: #A6FFDF;
}

.box-clinic .bx-injection {
    color: #499AFF;
    background-color: #AEFFFF;
}

.box-clinic .bx-dna {
    color: #9F79E8;
    background-color: #FFDEFF;
}

.box-clinic h4 {
    font-size: 1.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: black;
    margin: 10px 0;
}

.box-clinic p {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: black;
    margin: 0 15px 10px 15px;
}

.box-clinic a {
    background-color: var(--main-color);
    color: black;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.box-clinic a:hover {
    background-color: #E6C30D;
    transition: 0.3s ease-in-out;
}

.box-clinic a img {
    margin: 0 5px -6px 5px;
}

.clinic-wrapper .box-reservasi {
    background-color: #478BFB;
    margin: auto;
    width: 65%;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.box-reservasi h3 {
    font-size: 1.7rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: white;
}

.box-reservasi p {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: white;
}

.box-reservasi .datetime {
    background-color: #478BFB;
    color: white;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 25px;
    width: 270px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: 400;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
}

.box-reservasi .datetime::placeholder {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: 400;
}

.box-reservasi .datetime:hover {
    color: #E6E6E6;
    border-color: #E6E6E6;
    transition: 0.3s ease-in-out;
}

.box-reservasi .datetime:active {
    transform: translateY(4px);
}

.box-reservasi .reservasi {
    background-color: white;
    color: #478BFB;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.box-reservasi .reservasi:hover {
    background-color: #E6E6E6;
    border-color: #E6E6E6;
    transition: 0.3s ease-in-out;
}

.box-reservasi .reservasi:active {
    transform: translateY(4px);
}

/* Clinic End */


/* Responsive Start */

@media screen and (max-width:1100px) {
    .clinic-wrapper .box-clinic {
        padding: 20px 10px;
        max-width: 300px;
    }

    .box-clinic p {
        font-size: 0.8rem;
        margin: 0 10px 10px 10px;
    }

    .box-reservasi p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:900px) {
    .clinic-wrapper .box-clinic {
        padding: 20px 10px;
        max-width: 250px;
    }

    .box-clinic h4 {
        font-size: 1.2rem;
    }

    .box-clinic p {
        font-size: 0.7rem;
        margin: 0 5px 10px 5px;
    }
}

@media screen and (max-width:760px) {
    .clinic-wrapper .row {
        display: block;
    }

    .clinic-wrapper .box-clinic {
        margin-top: 20px;
    }

    .box-reservasi .reservasi {
        margin-top: 10px;
    }
}

@media screen and (max-width:520px) {
    .box-reservasi h3 {
        font-size: 1.5rem;
    }

    .box-reservasi p {
        font-size: 0.75rem;
    }

    .box-reservasi .datetime {
        padding: 15px 15px;
        width: 230px;
        font-size: 0.9rem;
    }

    .box-reservasi .datetime::placeholder {
        font-size: 0.9rem;
    }

    .box-reservasi .reservasi {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:440px) {
    .box-reservasi h3 {
        font-size: 1.2rem;
    }

    .box-reservasi p {
        font-size: 0.7rem;
    }

    .box-reservasi .datetime {
        padding: 15px 10px;
        width: 190px;
        font-size: 0.75rem;
    }

    .box-reservasi .datetime::placeholder {
        font-size: 0.75rem;
    }
}

/* Responsive End */