@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap');

:root {
    --main-color: #FFDC26;
    --second-color: #141413;
    --body-color: #FFFFFF;

    --heading-font: 'Fredoka One', cursive;
    --content-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    margin-top: 200px;
}

.container {
    max-width: 1500px;
}

/* Navbar Start */

.navbar .nav-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}

.nav-wrapper .menu-hamburger {
    display: none;
}

.nav-wrapper .logo {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--main-color);
}

.nav-wrapper .logo span {
    color: var(--second-color);
}

.nav-wrapper .menu-wrapper {
    display: flex;
}

.nav-wrapper .menu-wrapper .menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 80px;
}

.menu-wrapper .menu .menu-link {
    color: var(--second-color);
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
}

.menu-wrapper .menu .menu-link.active {
    font-weight: 700;
    color: var(--main-color);
}

/* Navbar End */


/* Home Start */

.home {
    margin: 40px;
}

.home .home-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home .home-wrapper .heading {
    font-size: 3.4rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--main-color);
}

.home .home-wrapper .subheading {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--second-color);
    text-align: justify;
    max-width: 520px;
    margin: 20px 0;
}

.home-wrapper .content-left {
    flex: 0 0 50%;
    margin-top: -70px;
}

.content-left .img-wrapper {
    max-width: 400px;
    margin: auto;
}

.content-left .img-wrapper img {
    width: 100%;
}

.home-wrapper .content-right {
    flex: 0 0 50%;
    margin-top: 100px;
}

/* Home End */


/* Address Start  */

.address {
    margin: 40px;
}

.address .address-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address-wrapper .content-left {
    flex: 0 0 50%;
    margin: auto;
}

.address-wrapper .content-left .heading {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--main-color);
}

.address-wrapper .content-left .heading span {
    color: var(--second-color);
}

.address-wrapper .content-left iframe {
    margin: 20px 0 0 20px;
    width: 450px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
}

.address-wrapper .content-right {
    flex: 0 0 50%;
    margin: auto;
}

.address-wrapper .content-right .subheading {
    margin-top: 70px;
}

.address-wrapper .content-right .subheading ul li {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--second-color);
    text-align: justify;
    max-width: 600px;
    margin: 10px 20px;
}

.address-wrapper .content-right .img-wrapper {
    max-width: 600px;
    margin: auto;
}

.address-wrapper .content-right .img-wrapper img {
    width: 100%;
}

/* Address End  */


/* Service Start  */

.service {
    margin: 40px;
}

.service .service-wrapper {
    margin: auto;
    text-align: center;
    align-items: center;
}

.service-wrapper .heading {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--second-color);
}

.service-wrapper .subheading {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--second-color);
    margin: 10px 0;
}

.service-wrapper .option-wrapper {
    margin: auto;
    text-align: center;
    align-items: center;
}

.option-wrapper .option-service {
    max-width: 700px;
    display: flex;
    padding: 30px;
    margin: auto;
}

.option-service .btn-service i {
    background-color: var(--body-color);
    margin: 0 25px;
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 2px var(--second-color);
    font-size: 4rem;
    color: var(--main-color);
    box-shadow: 0px 3.25517px 65.1034px rgba(0, 0, 0, 0.07), 0px 1.18819px 23.7638px rgba(0, 0, 0, 0.0482987), 0px 0.576845px 11.5369px rgba(0, 0, 0, 0.0389404), 0px 0.28278px 5.6556px rgba(0, 0, 0, 0.0310596), 0px 0.111812px 2.23623px rgba(0, 0, 0, 0.0217013);
}

.option-service .btn-service i:hover {
    background-color: var(--main-color);
    color: var(--body-color);
    cursor: pointer;
}

.option-service .btn-service i:active {
    transform: translateY(4px);
}

.btn-service .service-link {
    font-size: 1.25rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--second-color);
    text-align: center;
}

.btn-service .service-link:hover {
    cursor: pointer;
    color: var(--main-color);
}

.service-wrapper .heading2 {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--second-color);
}

.service-wrapper .img-wrapper2 {
    max-width: 800px;
    margin: auto;
}

.service-wrapper .img-wrapper2 img {
    margin-top: 20px;
    width: 100%;
}

/* Service End */


/* Review Start  */

.review {
    margin: 40px;
}

.review .review-wrapper {
    margin: auto;
}

.review-wrapper .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row1 .title1 {
    font-size: 1.25rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--main-color);
}

.row1 .title2 {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--second-color);
    margin-top: 5px;
}

.row1 .slider i {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    margin-top: 10px;
}

.row1 .slider i:active {
    transform: translateY(4px);
}

.review-wrapper .row2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.review-wrapper .card-review {
    width: 300px;
    height: 330px;
    position: relative;
    overflow-y: hidden;
}

.card-review:hover .detail-review {
    bottom: 0;
    transition: 0.4s ease-in-out;
}

.card-review img {
    border-radius: 20px;
    width: 300px;
    border: 2px solid var(--main-color);
}

.row2 .detail-review {
    background-color: rgba(255, 255, 255, 0.400);
    position: absolute;
    bottom: -32%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    border: 2.5px solid var(--main-color);
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.400);
    transition: 0.4s ease-in-out;
}

.detail-review .user {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detail-review .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user .left-content {
    flex: 0 0 30%;
}

.user .right-content {
    flex: 0 0 70%;
    padding-top: 5px;
    font-size: 1.1rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--second-color);
}

.user .right-content i {
    color: var(--main-color);
}

.body-card {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--second-color);
    text-align: justify;
}

.body-card i {
    font-size: 0.8rem;
    margin: 0 5px;
}

/* Review End */


/* Newsletter Start */

.newsletter {
    margin: 40px;
}

.newsletter .newsletter-wrapper {
    margin: auto;
    text-align: center;
    align-items: center;
}

.newsletter-wrapper .title {
    font-size: 1.25rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--main-color);
}

.newsletter-wrapper .heading {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--second-color);
}

.newsletter-wrapper .subheading {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--second-color);
    margin-top: 10px;
    margin-bottom: 80px;
}

.newsletter-wrapper .form {
    margin: auto;
    max-width: 700px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
}

.form input {
    border: none;
    margin-right: 10px;
    width: 60%;
    height: 40px;
    font-size: 1.2rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: black;
    text-align: center;
}

.form input:focus {
    font-size: 1.2rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: black;
    outline: none;
}

.form .btn-berlangganan {
    background-color: var(--main-color);
    color: black;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: var(--heading-font);
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.form .btn-berlangganan:active {
    transform: translateY(4px);
}

/* Newsletter End */


/* Footer Start */

.footer {
    margin-top: 100px;
    background-color: var(--main-color);
}

.footer .footer-wrapper {
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.col-1-footer .logo-footer {
    font-size: 2.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: white;
}

.logo-footer span {
    color: black;
}

.sosmed-icon i {
    font-size: 2.5rem;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    margin: 10px 5px 0px 5px;
}

.sosmed-icon i:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.sosmed-icon i:active {
    transform: translateY(4px);
}

.col-1-footer .copyright {
    margin: 20px 0;
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: black;
    text-align: justify;
}

.copyright span {
    color: red;
}

.col-2-footer h3,
.col-3-footer h3 {
    font-size: 1.5rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: black;
    margin-top: 20px;
}

.col-2-footer ul,
.col-3-footer ul {
    margin: 20px 0;
}

.col-2-footer ul li,
.col-3-footer ul li {
    margin-top: 10px;
}

.col-2-footer li a,
.col-3-footer li a {
    font-size: 1rem;
    font-family: var(--content-font);
    font-weight: 400;
    color: black;
}

/* Footer End */


/* Responsive Start */

@media screen and (max-width:1100px) {
    .navbar .nav-wrapper {
        padding: 0px 30px;
    }

    .nav-wrapper .menu-wrapper .menu {
        gap: 15px;
    }

    .home .home-wrapper .heading {
        font-size: 2.8rem;
    }

    .address-wrapper .content-left iframe {
        margin: 10px 0 0 10px;
        width: 400px;
        height: 350px;
    }

    .address-wrapper .content-right .subheading ul li {
        font-size: 0.9rem;
    }

    .address-wrapper .content-right .img-wrapper {
        max-width: 600px;
    }

}

@media screen and (max-width:900px) {
    .navbar .nav-wrapper {
        padding: 0px 30px;
    }

    .nav-wrapper .menu-wrapper .menu {
        gap: 15px;
    }

    .menu-wrapper .menu .menu-link {
        font-size: 0.75rem;
    }

    .home .home-wrapper .heading {
        font-size: 2.3rem;
    }

    .home-wrapper .content-right {
        margin-top: 50px;
    }

    .address-wrapper .content-right {
        flex: none;
    }

    .address-wrapper .content-left iframe {
        margin: auto;
        width: 600px;
        height: 450px;
    }

    .address-wrapper .content-right .subheading {
        margin-top: 30px;
    }

    .address-wrapper .content-right .subheading ul li {
        font-size: 1rem;
        margin-top: 10px;
    }

    .option-service .btn-service i {
        margin: 0 20px;
    }
}

@media screen and (max-width:760px) {
    .nav-wrapper .menu-wrapper {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        display: block;
        text-align: center;
        background-color: var(--main-color);
        border-radius: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s ease-in-out;
    }

    .nav-wrapper .menu-wrapper.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.5s ease-in-out;
    }

    .nav-wrapper .menu-wrapper .menu {
        display: block;
        margin: auto;
    }

    .nav-wrapper .menu-hamburger {
        display: initial;
        font-size: 2.5rem;
        color: var(--second-color);
        transition: 0.5s;
    }

    .menu-hamburger.bx-x {
        transform: rotate(360deg);
        transition: 0.5s;
        font-size: 3rem;
    }

    .menu-wrapper .menu .menu-item {
        margin: 25px 0px;
    }

    .menu .menu-item .menu-link {
        color: white;
        font-size: 1.125rem;
    }

    .menu .menu-item .menu-link.active {
        color: var(--second-color);
    }

    .content-left .img-wrapper {
        max-width: 300px;
    }

    .home .home-wrapper .heading {
        font-size: 1.5rem;
    }

    .home .home-wrapper .subheading {
        font-size: 0.6rem;
    }

    .home-wrapper .content-right {
        margin-top: 20px;
    }

    .address-wrapper .content-left iframe {
        margin: auto;
        width: 450px;
        height: 400px;
    }

    .address-wrapper .content-right .subheading {
        margin-top: 20px;
    }

    .address-wrapper .content-right .subheading ul li {
        font-size: 1rem;
        max-width: 450px;
    }

    .address-wrapper .content-right .img-wrapper {
        max-width: 450px;
    }

    .option-wrapper .option-service {
        margin: auto;
        padding: 10px;
        display: block;
    }

    .form input {
        margin-right: 0px;
        font-size: 1rem;
        width: 90%;
    }

    .form input:focus {
        font-size: 1rem;
    }

    .col-1-footer .copyright {
        font-size: 0.8rem;
        max-width: 300px;
    }

    .col-2-footer h3,
    .col-3-footer h3 {
        font-size: 1.2rem;
    }

    .col-2-footer li a,
    .col-3-footer li a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:520px) {

    .menu .menu-item .menu-link {
        font-size: 0.8rem;
    }

    .home .home-wrapper .heading {
        font-size: 1.2rem;
    }

    .home .home-wrapper .subheading {
        font-size: 0.5rem;
    }

    .home-wrapper .content-right {
        margin-top: -10px;
    }

    .address-wrapper .content-left iframe {
        margin: auto;
        width: 350px;
        height: 350px;
    }

    .address-wrapper .content-right .subheading ul li {
        font-size: 0.85rem;
        max-width: 350px;
    }

    .address-wrapper .content-right .img-wrapper {
        max-width: 350px;
    }

    .col-1-footer .copyright {
        font-size: 0.7rem;
        max-width: 200px;
    }

    .col-2-footer h3,
    .col-3-footer h3 {
        font-size: 1rem;
    }

    .col-2-footer li a,
    .col-3-footer li a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:440px) {
    .menu-wrapper .menu .menu-item {
        margin: 18px 0px;
    }

    .menu .menu-item .menu-link {
        font-size: 0.7rem;
    }

    .home .home-wrapper .heading {
        font-size: 0.9rem;
    }

    .home .home-wrapper .subheading {
        font-size: 0.5rem;
    }

    .home-wrapper .content-right {
        margin-top: -20px;
    }

    .address-wrapper .content-left iframe {
        margin: auto;
        width: 280px;
        height: 300px;
    }

    .address-wrapper .content-right .subheading ul li {
        font-size: 0.8rem;
        max-width: 280px;
    }

    .address-wrapper .content-right .img-wrapper {
        max-width: 280px;
    }

    .option-service .btn-service i {
        margin: 0 25px;
        padding: 7px;
        width: 80px;
        height: 80px;
        font-size: 4rem;
    }

    .col-1-footer .copyright {
        font-size: 0.65rem;
        max-width: 200px;
    }

    .col-2-footer h3,
    .col-3-footer h3 {
        font-size: 0.95rem;
    }

    .col-2-footer li a,
    .col-3-footer li a {
        font-size: 0.75rem;
    }
}

/* Responsive End */